<div class="project-stats">
  <div class="row">
    <div class="col-xs-4 col-sm-12">
      <div class="val">
        10
      </div>
      <div class="lab">Backers</div>
    </div>
    <div class="col-xs-4 col-sm-12">
      <div class="val">
        10000$
      </div>
      <div class="lab">Goal</div>
    </div>
    <div class="col-xs-4 col-sm-12">
      <div class="val">
        4
      </div>
      <div class="lab">Days to go</div>
    </div>
  </div>
</div>