<div class="project-stats">
  <div class="row">
    <div class="col-xs-4 col-sm-12">
      <div class="val">
        <%= @pledges.count %>
      </div>
      <div class="lab">Backers</div>
    </div>
    <div class="col-xs-4 col-sm-12">
      <div class="val">
        <%= number_to_currency(@project.total_backed_amount, unit: '$', precision: 0) %>
      </div>
      <div class="lab">Pledge of <%= number_to_currency(@project.goal, unit: '$', precision: 0) %> goal</div>
    </div>
    <div class="col-xs-4 col-sm-12">
      <div class="val">
       <%= @project.days_to_go %>
      </div>
      <div class="lab">Days to go</div>
    </div>
  </div>
</div>